//desktop
$color-header: #2f404e;
$color-background: #2f404e;
$color-background-admin: #26a195;
$color-background-twitter: #03a9f4;
$color-form: rgba(255, 255, 255, 0.50);
$color-footer: #fdfffc;
$color-text: #fdfffc;
$margin_login_signin: 30%;
$margin_top_bottom_login_signin: 3%;
$margin-left-img: 5%;
$margin-top-img: 20px;
$margin-left-form-control: 15%;
$margin-right-form-control: 15%;
$margin-top-btn-succes: 10px;
$margin-top-btn-secondary: 5px;
$padding_footer: 10px;
$width_logo_header: 150px;
$width_button: 60%;
$width-login: 40%;
$width-form-control: 70%;
$height_footer: 50px;
$height_logo_header: 50px;
$height-header: 100px;
$height-login: 450px;
$height-form-control: 35px;
$height-btn: 35px;
$font-size-p: 20px;
//
//
//mobile
$mobile-width: 480px;
$width-img-mobile: 170px;
$height-img-mobile: 50px;
$margin-left-img-mobile: 7%;