$color-header: #2f404e;
$color-background: #2f404e;
$color-background-admin: #26a195;
$color-background-twitter: #03a9f4;
$color-form: rgba(255, 255, 255, 0.50);
$color-footer: #fdfffc;
$color-text: #fdfffc;
$margin_login_signin: 30%;
$margin_top_bottom_login_signin: 3%;
$height_footer: 50px;
$padding_footer: 10px;
$width_logo_header: 200px;
$height_logo_header: 100px;
$width_button: 60%;