@import 'variables';
@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/navbar';
@import 'bootstrap/reboot';
@import 'bootstrap/utilities/background';
@import 'bootstrap/mixins/background-variant';
.bg-secondary {
    background-color: $color-header !important;
}

.navbar-brand {
    margin-right: 30%;
}

.header {
    height: 75px;
    position: absolute;
    top: 0;
}

img {
    .size {
        width: 250px;
        height: 250px;
        border: 0px solid;
        border-radius: 50%;
    }
}

img {
    width: $width_logo_header;
    height: $height_logo_header;
    margin-left: $margin-left-img;
}