@import 'variables';
@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
body {
    background-color: $color-background;
}

.header {
    height: 20%;
    position: relative;
}

img {
    width: $width_logo_header;
    height: $height_logo_header;
    margin-left: 5%;
}

h1 {
    color: $color-text;
    text-align: center;
}

h3 {
    color: $color-text;
    text-align: center;
}

.login {
    p {
        text-align: center;
        color: $color-text;
        font-size: 20px;
    }
}

a {
    color: $color-background;
}

.login {
    position: relative;
    height: 50%;
    width: 40%;
    background-color: $color-form;
    margin-left: $margin_login_signin;
    margin-right: $margin_login_signin;
    padding-top: $margin_top_bottom_login_signin;
    padding-bottom: $margin_top_bottom_login_signin;
}

.footer {
    background-color: $color-footer;
    text-align: center;
    padding-top: $padding_footer;
    height: $height_footer;
}

.form-control {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.btn-success {
    background-color: $color-background-admin;
    border-color: $color-background-admin;
    width: 60%;
}

.btn-secondary {
    background-color: $color-background-twitter;
    border-color: $color-background-twitter;
    width: 60%;
}