body {
    background-color: #2f404e;

    #validators {
        .wrapper {
            text-align: center;

            h1 {
                font-family: "Poppins", sans-serif;
                color: #FFA730;
                font-size: 2rem;
                font-weight: 400;
            }

            img {
                width: 65%;
                margin-top: 0.5rem;
            }
        }
    }
}