body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: black;
}

h1 {
    margin-bottom: 2rem;
    color: black;
}


#carousel img {
    width: 30%;
}

#about,
#integrants,
#contact,
#form,
#news {
    padding: 7% 15%;
}

.bg-dark {
    background-color: #0E4749 !important;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* About */
#about p {
    font-size: 1.3rem;
}

#about span {
    color: #95C623;
}

/* Features */
#features {
    background-color: #002626;
    padding: 5% 15%;
}

.feature-title {
    font-size: 1.5rem;
    color: #E1F0C4;
}

.feature-box {
    padding: 4.5%;
    text-align: center;
}

.icon {
    color: #E1F0C4;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #95C623;
}

.featuresp {
    color: #fff;
}


.container {
    padding: 80px 120px;
}

.size{
    width: 200px; height: 200px;
}