@media only screen and (max-width: 992px) {
  #navbar #slide-out {
    background-color: #2F404E;
  }
  #navbar #slide-out img {
    margin-left: 0;
  }
  #navbar #slide-out a,
#navbar #slide-out i {
    color: #FDFFFC;
    font-size: 1.5rem !important;
  }

  #main .lefty button {
    display: none;
  }
  #main .col.s10 {
    width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  #navbar #slide-out a,
#navbar #slide-out i {
    font-size: 1.8rem !important;
  }

  #crear .col-img,
#reportes .col-img,
#historial .col-img,
#valorado .col-img {
    width: 100% !important;
  }

  .righty {
    border-left: 0 !important;
  }
  .righty #crear .inside-container .row-input {
    margin: 0 !important;
  }
  .righty #crear .inside-container .row-input .input-field > label {
    font-size: 1.4rem;
  }
  .righty #crear .inside-container .row-input .col.s6 {
    width: 100%;
    text-align: center;
  }
  .righty #crear .inside-container .row-input .btn {
    width: 85% !important;
    text-transform: none !important;
    height: 80% !important;
    font-size: 1.4rem;
  }
  .righty #crear .inside-container .waves-effect {
    width: 100% !important;
    text-transform: none !important;
    font-size: 1.5rem !important;
  }
  .righty .report .col-data {
    width: 100% !important;
  }
  .righty .report .col-data .right-align {
    text-align: center !important;
  }
  .righty .report .col-data .description {
    font-size: 1.4rem !important;
  }
  .righty .report .col-data .data {
    font-size: 1.25rem !important;
  }
}
body {
  height: 100%;
  background-color: #EDEDED;
  font-family: "Poppins", sans-serif;
}
body #navbar img {
  margin-left: 5.5rem;
}
body #navbar .charcoal {
  background-color: #2F404E;
}
body #navbar .right {
  padding-right: 10rem;
}
body #main {
  /*
  .line {
      //border-left: 0.1rem solid $charcoal;
      //height: 100%;
      position: absolute;
      left: 17%;
      margin-left: -3px;
      top: 59px;
  }*/
}
body #main .lefty button {
  width: 100%;
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0;
  background-color: #EDEDED;
  color: #2F404E;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.4rem;
}
body #main .lefty button:hover {
  background-color: #26A195;
  color: #FDFFFC;
}
body #main .righty {
  min-height: 100%;
  height: 100%;
  padding-top: 2rem;
}
body #main .righty #crear {
  background-color: white;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 2rem;
  border: 0.1rem solid black;
}
body #main .righty #crear h1 {
  color: #26A195;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0 0 0;
}
body #main .righty #crear .inside-container {
  padding: 1rem;
}
body #main .righty #crear .inside-container .row-input {
  margin-left: 4rem;
  margin-right: 4rem;
}
body #main .righty #crear .inside-container .btn {
  width: 70%;
  text-transform: none;
  height: 80%;
}
body #main .righty #crear .inside-container .center-align a {
  width: 39%;
  text-transform: none;
  font-size: 16px;
}
body #main .righty #reportes,
body #main .righty #historial,
body #main .righty #valorado {
  display: none;
}
body #main .righty #reportes .green {
  color: green;
}
body #main .righty #reportes .red {
  color: red;
}
body #main .righty #reportes a {
  margin-top: 1rem;
}
body #main .righty .report {
  background-color: white;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 2rem;
  border: 0.1rem solid black;
}
body #main .righty .report .col-img {
  width: 40%;
}
body #main .righty .report .col-data {
  width: 60%;
}
body #main .righty .report .description {
  color: #26A195;
  font-weight: 800;
  font-size: 1.1rem;
  width: 54%;
}
body #main .righty .report .data {
  color: #2F404E;
  font-size: 1rem;
  font-weight: 600;
}
body #main .righty .report img {
  width: 82%;
  margin: 2rem 0rem 1rem 2rem;
}

/*# sourceMappingURL=reports.css.map */
