<section class="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('assets/img/image1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Report it</h5>
                    <p>Una nueva app que te permite reportar ilegalidades.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('assets/img/image2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Reporta incidencias en tu día a día.</h5>
                    <p>Ayuda a a las personas a estar enteradas sobre nuevos incidentes.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('assets/img/image3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Obtén reportes diarios sobre incidentes en tu colonia.</h5>
                    <p>Mantente informada sobre las nuevas incidencias en la ciudad.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="features" id="features">
    <h1>Acerca de</h1>
    <p>Desarrollo de una <span>aplicación web</span> que ofrecerá al usuario la posibilidad de reportar cualquier tipo de incidencia o queja que se considere moral y/o éticamente incorrecta, que haya vivido en cualquier momento de su día.
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-check-circle fa-4x"></i>
                <h3 class="feature-title">Fácil de reportar.</h3>
                <p class="featuresp">Puedes crear reportes de manera sencilla.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-address-book fa-4x"></i>
                <h3 class="feature-title">Checar reportes.</h3>
                <p class="featuresp">Puedes revisar los reportes más actualizados.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3 class="feature-title">Salva vidas.</h3>
                <p class="featuresp">Salva vidas reportando a otras personas.</p>
            </div>
        </div>
    </div>
</section>
<section class="integrants" id="integrants">
    <h1>Integrantes</h1>
    <p>Estudiantes de Ingeniería en Tecnologías Computacionales del Tecnológico de Monterrey que cursan la materia Desarrollo de Aplicaciones Web.</p>

    <div class="row">
        <div class="feature-box col-lg-4">
            <img src="assets/img/me.png" class="size" alt="Alexandra Solis">
            <p class="featuresp"><strong>Alexandra Solís</strong></p>
        </div>
        <div class="feature-box col-lg-4">
            <img src="assets/img/diego.PNG" class="size" alt="Diego Moreno">
            <p class="featuresp"><strong>Diego Moreno</strong></p>
        </div>
        <div class="feature-box col-lg-4">
            <img src="assets/img/ivan.png" class="size" alt="Ivan Morales">
            <p class="featuresp"><strong>Ivan Morales</strong></p>
        </div>
    </div>
</section>
<section class="contact" id="contact">
    <h1>Contáctanos</h1>

    <div class="mb-4 ">
        <p class="text-center w-responsive mx-auto mb-5 "> Puedes dejarnos un mensaje en la siguiente caja y nos pondremos en contacto contigo.</p>

        <div class="row text-center ">
            <div class="col-md-9 mb-md-0 mb-5 ">
                <form id="contact-form" name="contact-form " action="mail.php " method="POST">
                    <div class="form-row ">
                        <div class="form-group col-md-6 ">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="email">E-mail</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="subject">Título</label>
                        <input type="text" id="subject" name="subject" class="form-control" placeholder="Título">
                    </div>
                    <div class="form-group ">
                        <label for="message">Mensaje</label>
                        <textarea id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Aquí escribe tu mensaje "></textarea>
                    </div>
                    <a class="btn btn-success " onclick="document.getElementById( 'contact-form').submit(); ">Enviar</a>
                </form>
            </div>

            <div class="col-md-3 text-center ">
                <ul class="list-unstyled mb-0 ">
                    <li><i class="icon fas fa-map-marker-alt fa-2x "></i>
                        <p>Tecnológico de Monterrey Campus Ciudad de México</p>
                    </li>
                    <li><i class="icon fas fa-phone mt-4 fa-2x "></i>
                        <p>+ 55 5483 2020</p>
                    </li>
                    <li><i class="icon fas fa-envelope mt-4 fa-2x "></i>
                        <p>contact@reportit.com</p>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</section>