$charcoal: #2F404E;
$babypowder: #FDFFFC;
$jungleg: #26A195;
$amaranth: #E93148;
$deep: #FFA730;
$main: #EDEDED;

body {
    background-color: $main;

    #navbar {
        img {
            //width: 50%;
            margin-left: 5.5rem;
        }

        .charcoal {
            background-color: $charcoal;
        }

        .right {
            padding-right: 10rem;
        }
    }

    #main {
        //padding-top: 2rem;

        .lefty {
            ///border-right: 0.09rem solid $charcoal;
            padding-top: 2rem;

            button {
                width: 100%;
                font-size: 1.3rem;
                margin: 1rem 0 1rem 0;
                background-color: $main;
                color: $charcoal;
                border: none;
                cursor: pointer;
                border-radius: 0.3rem;
                padding: 0.4rem;
            }

            button:hover {
                background-color: $jungleg;
                color: $babypowder;
            }
        }

        .righty {
            border-left: 0.09rem solid $charcoal;

            #crear {
                h1 {
                    color: $jungleg;
                    font-size: 2rem;
                    font-weight: 600;
                    text-align: center;
                }
            }

            #reportes,
            #historial,
            #valorado {
                display: none;
            }

        }
    }
}