@import 'src/styles/variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/utilities/background';
@import 'node_modules/bootstrap/scss/mixins/background-variant';
.bg-secondary {
    background-color: $color-header !important;
}

.navbar-brand {
    margin-right: 30%;
}

img {
    width: 150px;
    height: 50px;
    margin-left: 125px;
}


/* ribbon common */

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
}

.ribbon {
    span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 15px 0;
        background-color: #26a195;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-align: center;
    }
}


/* top left*/

.ribbon-top-left {
    top: 0px;
    left: 0px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left {
    span {
        right: -25px;
        top: 30px;
        transform: rotate(-45deg);
    }
}

//Mobile version
@mixin mobile {
    @media (max-width:#{$phone-width}) {
        @content;
    }
}

@mixin tablet_large {
    @media (min-width:#{$medium-tablet-max-width}) and (max-width:#{$large-tablet-max-width}) {
        @content;
    }
}

@mixin tablet_small {
    @media (min-width:#{$medium-tablet-max-width}) and (max-width:#{$large-tablet-max-width}) {
        @content;
    }
}

@include mobile {
    .ribbon-top-left {
        top: -10px;
        left: 60%;
    }
    .ribbon-top-left::before,
    .ribbon-top-left::after {
        border-top-color: transparent;
        border-right-color: transparent;
    }
    .ribbon-top-left::before {
        top: 0;
        left: 0;
    }
    .ribbon-top-left::after {
        bottom: 0;
        right: 0;
    }
    .ribbon-top-left {
        span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }
    }
}

@include tablet_small {
    .ribbon-top-left {
        top: -10px;
        left: 615px;
    }
    .ribbon-top-left::before,
    .ribbon-top-left::after {
        border-top-color: transparent;
        border-right-color: transparent;
    }
    .ribbon-top-left::before {
        top: 0;
        left: 0;
    }
    .ribbon-top-left::after {
        bottom: 0;
        right: 0;
    }
    .ribbon-top-left {
        span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }
    }
}