<div id="navbar">
    <nav class="charcoal">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                <img src="img/logo_admin.png" alt="" width="150" height="50" style="margin-top: 6px;">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a onclick="verReportes()">Inicio</a></li>
                <li><a href="login_admin.html">Cerrar Sesión</a></li>
            </ul>
            <ul id="slide-out" class="sidenav">
                <li>
                    <img src="img/logo.png" alt="Logo">
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="waves-effect" onclick="verReportes()">Inicio</a></li>
                <li><a class="waves-effect" href="login_admin.html">Cerrar sesión</a></li>
                <li>
                    <a class="subheader"></a>
                </li>
                <li><a class="sidenav-close" onclick="verCrear()"><i class="far fa-newspaper"></i>Crear</a></li>
                <li><a class="sidenav-close" onclick="verReportes()"><i class="fas fa-comment-alt"></i>Reportes</a>
                </li>
                <li><a class="sidenav-close" onclick="verValorado()"><i class="fas fa-star"></i>Valorado</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        </div>
    </nav>
</div>
<section id="main">
    <div class="row">
        <div class="col s2 lefty">
            <button onclick="verReportes()"><i class="fas fa-comment-alt"></i> &emsp;Reportes</button>
            <button onclick="verCrear()"><i class="fas fa-newspaper"></i> &emsp;Editar</button>
            <button onclick="verValorado()"><i class="far fa-star"></i> &emsp;Valorado</button>
        </div>
        <div class="col s10 righty">
            <div id="crear" class="container">
                <h1>Reporte de Incidencias</h1>
                <div class="row inside-container">
                    <form class="col s12">
                        <div class="row row-input">
                            <div class="input-field col s12">
                                <input id="title" type="text" class="validate">
                                <label for="first_name">Título</label>
                            </div>
                        </div>
                        <div class="row row-input">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">Nombre</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Fecha</label>
                            </div>
                        </div>
                        <div class="row row-input">
                            <div class="input-field col s6">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Descripción del reporte</label>
                            </div>
                            <div class="input-field col s6">
                                <div class="btn">
                                    <span>Insertar foto</span>
                                </div>
                            </div>
                        </div>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn-small ">Editar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!---->
            <div id="reportes" class="container">
                <div class="right-align">
                    <a class="waves-effect waves-light btn-small ">Descargar</a>
                </div>
                <div class="report">
                    <div class="row">
                        <div class="col s6 col-img">
                            <img src="img/estacionado.jpg" alt="">
                        </div>
                        <div class="col s6 col-data">
                            <table>
                                <tr>
                                    <td class="description">Nombre del incidente:</td>
                                    <td class="data">Auto mal estacionado</td>
                                </tr>
                                <tr>
                                    <td class="description">Persona que lo reporta:</td>
                                    <td class="data">Diego Moreno</td>
                                </tr>
                                <tr>
                                    <th class="description">Fecha del incidente:</th>
                                    <th class="data">12/02/2020</th>
                                </tr>
                                <tr>
                                    <th class="description">Incidente:</th>
                                    <th class="data">En la calle Prolongación Miramontes hay un auto mal estacionado.
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="report">
                    <div class="row">
                        <div class="col s6 col-img">
                            <img src="img/bache2.png" alt="">
                        </div>
                        <div class="col s6 col-data">
                            <table>
                                <tr>
                                    <th class="description">Nombre del incidente:</th>
                                    <th class="data">Bache</th>
                                </tr>
                                <tr>
                                    <th class="description">Persona que lo reporta:</th>
                                    <th class="data">Ivan Morales</th>
                                </tr>
                                <tr>
                                    <th class="description">Fecha del incidente:</th>
                                    <th class="data">13/02/2020</th>
                                </tr>
                                <tr>
                                    <th class="description">Incidente:</th>
                                    <th class="data">En la calle Prolongación Miramontes hay un bache.</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div id="valorado" class="container">
                <div class="report">
                    <div class="row">
                        <div class="col s6 col-img" style="width: 750px;">
                            <img src="img/mapa.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>