<div class="body">
<section class="login">
    <h1>Iniciar Sesión</h1>


    <div class="container text-center">
        <form>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="E-mail">

            </div>

            <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">

            </div>

            <div class="form-group">
                <input type="button" onclick="window.location.href = 'reports_admin.html';" class="btn btn-success" value="Iniciar Sesión" />
            </div>



        </form>

    </div>
</section>
</div>