<div class="background">
    <section class="login">
        <h1>Iniciar Sesión</h1>
        <p>
            ¿No tienes cuenta? <a href="register.html">Regístrate</a>
        </p>

        <div class="container text-center">
            <form>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="E-mail">

                </div>

                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">

                </div>

                <div class="form-group">
                    <input type="button" onclick="window.location.href = 'reports.html';" class="btn btn-success" value="Iniciar Sesión" />

                </div>

                <div class="form-group">
                    <input type="button" onclick="window.location.href = 'reports.html';" class="btn btn-secondary" value="Iniciar Sesión con Twitter" />
                </div>


            </form>

        </div>
    </section>
</div>