body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: black;
}

h1 {
    margin-bottom: 2rem;
    color: black;
}

h5 {
    font-size: 2.2rem;
    color: white;
    font-weight: 800;
}

/* Carousel */
#carousel img {
    width: 30%;
}

#carousel p {
    font-size: 1.3rem;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about,
#integrants,
#contact,
#form,
#news {
    padding: 7% 15%;
}

.bg-dark {
    background-color: #0E4749 !important;
}

/* About */

#about p {
    font-size: 1.3rem;
}

#about span {
    color: #95C623;
}


/* Features */

#features {
    background-color: #002626;
    padding: 5% 15%;
}

.feature-title {
    font-size: 1.5rem;
    color: #E1F0C4;
}

.feature-box {
    padding: 4.5%;
    text-align: center;
}

.icon {
    color: #E1F0C4;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #95C623;
}

.featuresp {
    color: #fff;
}

.size {
    width: 250px;
    height: 250px;
}


/* Contact */
#contact {
    background-color: #002626;
    color: white;
}

#contact h2 {
    color: #95C623;
}

#contact .icon {
    color: #95C623;
}

/* Integrants */

#integrants .featuresp {
    color: black;
}

#integrants .feature-box {
    padding: 0.5% 0.5%;
    text-align: center;
}

/* News */
#news {
    background-color: #002626;
    color: #002626;
}

#news h1 {
    color: #95C623;
}

#news .myrow {
    margin-top: 10px;
}

/* Footer */
#footer {
    background-color: #fff;
    padding: 1.5% 0;
    text-align: center;
}